<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="refresh" content="1">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Workload - Hibernia-Sino Insurance Company</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index"><img id="logo" src="../css/logo.jpeg"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--                 <li><a href="#dashboard" id="bar1">Dashboard</a></li>
                 -->
                <li><a href="/index" id="bar2" i18nid="Home">Home</a></li>
                <li><a href="/logout" id="bar3" i18nid="Logout">Logout</a></li>
                <li><a i18nid="ChangeLang" onclick="switchLang()">Change Language</a></li>


            </ul>
            <form class="navbar-form navbar-right" onsubmit="return false">
                <input type="text" class="form-control" placeholder="Search..." id="search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="searchbutton">Search</button>
            </form>
            <!-- <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form> -->
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

    </div>
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="list list-group" id="daohang">
            <li class="list-group-item d-flex justify-content-between align-items-center" id="unprocessed">
                <i18n-pad i18nid="Unprocessed">Unprocessed</i18n-pad>
                <span class="badge badge-primary badge-pill" th:text="${unprocessed}">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center" id="processed">
                <i18n-pad i18nid="Processed">Processed</i18n-pad>
                <span class="badge badge-primary badge-pill" th:text="${approved}">0</span>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header" th:text="'Hello, ' + ${employee.nickname}"></h1>

        <h2 class="sub-header">Workload</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th i18nid="SerialNo">Serial No</th>
                    <th i18nid="FlightNo">Flight No</th>
                    <th i18nid="SubmitDate" id="rank">Submit Date</th>
                    <th i18nid="Status">Status</th>
                    <th i18nid="Result">Result</th>
                </tr>
                </thead>
                <tbody id="tabledata">
                <tr th:each="claim : ${claimList}">
                    <td th:text="${claim.serialNo}"></td>
                    <td th:text="${claim.flightNo}"></td>
                    <td th:text="${claim.submitDate}" class="submitetime"></td>
                    <td th:if="${claim.employeeId}" th:text="'Checked by employee ID '+${claim.employeeId}"></td>
                    <td th:if="not ${claim.employeeId}">
                        <i18n-pad i18nid="NoEmployeeChecked">No employee checked</i18n-pad>
                    </td>
                    <td th:if="not ${claim.employeeId}"><a
                            th:href="@{/claim/details(serialNo=${claim.getSerialNo()})}">
                        <i18n-pad i18nid="ViewMore">view more</i18n-pad>
                    </a></td>
                    <td th:if="${claim.employeeId}" th:text="${claim.result}">
                        <i18n-pad i18nid="Checked">checked</i18n-pad>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<js/jquery.min.js"><\/script>')</script>
<script src="../js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../js/ie10-viewport-bug-workaround.js"></script>
<script src="../js/offcanvas.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var searchdata = $("#tabledata").html();

        $("input[id=search]").change(function () {
            search()
        })
        $("input[id=searchbutton]").click(function () {
            search()
        })
        $("#rank").click(function () {
            rank()
        })

        function search() {
            var searchText = $("input[id=search]").val();
            var $searchLi = "";
            console.log(searchText)
            if (searchText.trim() != "") {
                $searchLi = $(searchdata).find('td:contains(' + searchText + ')').parent();
                console.log($(searchdata).html())
                $("#tabledata").html("");
                $("#tabledata").html($searchLi).clone();
                if ($searchLi.length <= 0) {
                    alert("not find")
                }
            }
            else {
                alert("cannot be empty")
            }

        }

        function rank() {
            if ($("#rank").html() == 'Submit Date↑') {
                rankresult = "";
                var $rankitems = $("#tabledata").find("tr");
                for (var i = $rankitems.length - 1; i >= 0; i--) {

                    rankresult += "<tr>" + $rankitems.eq(i).html() + "</tr>";
                }
                $("#tabledata").html(rankresult);
                $("#rank").html('Submit Date↓');
            }

            else {
                var $rankitems = $("#tabledata").find(".submitetime");
                var rankresult = "";
                for (var i = 0; i < $rankitems.length; i++) {
                    var big = praseDate($rankitems.eq(i).html());
                    var bigindex = i;
                    for (var j = i; j < $rankitems.length; j++) {
                        var current = praseDate($rankitems.eq(j).html());
                        if (current > big) {
                            big = current;
                            bigindex = j;
                        }

                    }
                    // console.log(i)
                    // console.log(bigindex)
                    temp = $rankitems[i];
                    $rankitems[i] = $rankitems[bigindex];
                    $rankitems[bigindex] = temp;
                    temp = "<tr>" + $($rankitems[i]).parent().html() + "</tr>";
                    // console.log(temp);
                    rankresult += temp;

                }
                $("#tabledata").html(rankresult);
                $("#rank").html('Submit Date↑');
            }


        }

        function praseDate(time) {
            parts = time.split(" ");
            fullyear = parts[0].split("-");
            fulltime = parts[1].split(":");
            var d = new Date(fullyear[0], fullyear[1], fullyear[2], fulltime[0], fulltime[1], 0);
            return d;

        }

        $("#daohang li").each(function () {
            $(this).mouseover(function () {
                $(this).addClass("active");
            });
            $(this).mouseout(function () {
                $(this).removeClass("active");
            });
        });
        // setInterval(function () {
        //     Push();
        // }, 1000);


        function Push(i) {
            var optionJson = [];
            $.ajax({
                type: "post",
                async: true,
                url: "/api/process",
                contentType: "application/json",
                data: JSON.stringify({"request": i}),
                beforeSend: function () {
                },
                success: function (data) {
                    optionJson = data;
                    console.log(data);
                    var str = "";
                    // $("#tabledata").html("");
                    for (var i = 0; i < data.length; i++) {
                        var checkedBy = "";
                        var view = "";
                        if (optionJson[i].employeeId !== '0' && optionJson[i].result !== "Unprocessed") {
                            checkedBy = "Checked by employee ID " + optionJson[i].employeeId;
                            view = optionJson[i].result;
                        } else {
                            checkedBy = "No employee checked";
                            href = "/claim/details?serialNo=" + optionJson[i].serialNo;
                            view = "<a href='" + href + "'> view more </a>";
                        }
                        str += "<tr>" +
                            "<td>" + optionJson[i].serialNo + "</td>" +
                            "<td>" + optionJson[i].flightNo + "</td>" +
                            "<td>" + optionJson[i].date + "</td>" +
                            "<td>" + checkedBy + "</td>" +
                            "<td>" + view + "</td>" +
                            "</tr>";
                        // $("#tabledata").append(str);
                    }
                    $("#tabledata").html(str);
                    console.log("success");
                }
            });
        }

        $(function () {
            $('#processed').click(function () {
                Push(1);
            });
            $('#unprocessed').click(function () {
                Push(0);
            });

        });
    });

</script>

<script type="text/javascript" src="../js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../js/loadi18n.js"></script>

</body>
</html>
