<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">



    <title>Register - Hibernia-Sino Insurance Company</title>
    <link rel="stylesheet" href="build/css/intlTelInput.css">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="../css/register.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="nav-color navbar  navbar-fixed-top">

    <div class=" container-fluid">
        <!--<span class="title navbar-brand mb-0 h1">Hibernia-sina Insurance Company</span>-->

        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li><a href="#dashboard" id="bar1">Customer</a></li>-->
            <!--<li><a href="#dashboard" id="bar2">Employee</a></li>-->

        <!--</ul>-->
    </div>
</nav>

<div class="container">
    <!--<img id="logo" src= "../css/logo.jpeg">-->
    <form class="form-signin" action="/employee/result" method="post" th:object="${employee}">
        <h2 class="form-signin-hxeading" i18nid="PlsRegister">Please register</h2>
        <span id="basic-addon0">&nbsp;</span>
        <span style="font-size: 12px;color: red" th:text="${error}" aria-describedby="basic-addon0"></span>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" i18nid_placeholder="EmailAddress" placeholder="Email address" name="emailAddress" th:value="*{emailAddress}" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" i18nid_placeholder="PlsEnterPwd" placeholder="Input your password" name="password" th:value="*{password}" required>
        <label for="inputPasswordAgain" class="sr-only">Re-password</label>
        <input type="password" id="inputPasswordAgain" class="form-control" placeholder="Input password again..." name="passwordCheck" i18nid_placeholder="PlsConfirmPwd" th:value="${passwordCheck}" required>
        <label for="inputUserName" class="sr-only">Nick Name</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Nick Name" name="nickname" i18nid_placeholder="Nickname"
               th:value="*{nickname}" required>
        <label for="inputPhone" class="sr-only">Phone</label>
        <input type="text" id="inputPhone" class="form-control" placeholder="Phone No." i18nid_placeholder="PhoneNo" name="phoneNumber" th:value="*{phoneNumber}">
        <label for="inputFirstName" class="sr-only">First Name</label>
        <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" name="firstName" i18nid_placeholder="FirstName"
               th:value="*{firstName}" required>
        <label for="inputLastName" class="sr-only">Last Name</label>
        <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" name="LastName" i18nid_placeholder="LastName"
               th:value="*{LastName}" required>

        <!--<label for="inputPassport" class="sr-only">Passport No.</label>-->
        <!--<input type="text" id="inputPassport" class="form-control" placeholder="Passport No" name="passport"-->
               <!--th:value="*{passport}">-->


        <label for="inputRole" class="sr-only">Role</label>
        <select class="form-control" id="inputRole" name="role">
            <option value="customer" i18nid="Customer">Customer</option>
            <option value="employee" i18nid="Employee">Employee</option>
        </select>

        <!--<div class="checkbox">-->
            <!--<label>-->
                <!--<input type="checkbox" value="remember-me">I agree to the <a href="#">-->
                <!--Terms of Service </a>-->
                <!--& <a href="#">-->
                <!--Privacy Policy </a>-->
            <!--</label>-->
        <!--</div>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="register" i18nid="Register">Register</button>
        <button class="btn btn-lg btn-primary btn-block" type="button" id="login" i18nid="AlreadyAccount">I already have an account</button>
        <div id="hintInformation" class="alertdanger"></div>
    </form>
</div> <!-- /container -->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
<!--phone number js-->
<script src="build/js/intlTelInput.js"></script>

<script>
    // var input = document.querySelector("#inputPhoneNumber");
    // var iti = window.intlTelInput(input,{
    //     nationalMode: true,
    //
    // });

    $(document).ready(function() {
        $('#login').click(function (e) {
            e.preventDefault();
            $(window).attr('location','/employee/signin');
        })
        $("#register").click(function (e) {
            e.preventDefault();
            var email_pattern = /^([A-Za-z0-9_\-\.\u4e00-\u9fa5])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,8})$/;
            var password_pattern = /^.*(?=.{8,})(?=.*\d)(?=.*[A-Za-z]).*$/;
            var phone_pattern = /^[0-9]{2,6}-[0-9]{6,10}$/;
            if($("#inputPassword").val() != $("#inputPasswordAgain").val()){
                $("#hintInformation").fadeIn();
                $("#hintInformation").html("Two input password must be consistent");
                $("#hintInformation").fadeOut(3000);
                return false;
            }
            else if (!email_pattern.test($("#inputEmail").val())) {
                $("#hintInformation").fadeIn();
                $("#hintInformation").html("Please enter a valid email address");
                $("#hintInformation").fadeOut(3000);
                return false;
            }
            else if (!password_pattern.test($("#inputPassword").val())) {
                $("#hintInformation").fadeIn();
                $("#hintInformation").html("Your password must longer than 8 characters, include numbers and alphabet");
                $("#hintInformation").fadeOut(3000);
                return false;
            }
            else if (!phone_pattern.test($("#inputPhone").val())) {
                $("#hintInformation").fadeIn();
                $("#hintInformation").html("Please enter a valid phone number,you must include the area number");
                $("#hintInformation").fadeOut(3000);
                return false;
            }
            else{
                $('form').submit();
                return true;
            }
        });

    });
</script>
<script>



</script>
	
	<script type="text/javascript" src="../js/jquery.i18n.properties.js"></script>
<script type="text/javascript" src="../js/jquery.cookie.js"></script>
<script type="text/javascript" src="../js/loadi18n.js"></script>
</body>

</html>
