<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../../favicon.ico" rel="icon">

    <title>Edit claim - Hibernia-Sino Insurance Company</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/offcanvas.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>
    <script src="../js/jquery.min.js"></script>

    <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
    <link href="../css/custom.css" rel="stylesheet">
    <script>window.jQuery || document.write('<js/jquery.min.js"><\/script>')</script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../js/custom.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="page-wrapper">
    <nav class="sidebar-wrapper" id="sidebar">
        <div class="sidebar-content">
            <a href="#" id="toggle-sidebar"><i class="fa fa-bars"></i></a>
            <div class="sidebar-brand">
            </div>
            <div class="sidebar-header">
                <!-- <div class="userInfo-pic">
                    <img class="img-responsive img-rounded" src="assets/img/userInfo.jpg" alt="">
                </div> -->
                <div class="userInfo-info">
                    <span class="userInfo-name"><strong th:text="${customer.nickname}"></strong></span>
                    <span class="userInfo-role">Customer</span>
                    <div class="userInfo-status">
                        <a href="#"><span class="label label-success">Online</span></a>
                    </div>
                </div>
            </div><!-- sidebar-header  -->
            <div class="sidebar-search">
                <div>
                    <!--<div class="input-group">-->
                    <!--<input type="text" class="form-control search-menu" placeholder="Search for...">-->
                    <!--<span class="input-group-addon"><i class="fa fa-search"></i></span>-->
                    <!--</div>-->
                </div>
            </div><!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu"><span>My Policy</span></li>
                    <li><a href="c"><i class="fa fa-tv"></i><span>My Purchase</span></a></li>
                    <li><a href="/claim/claims"><i class="fa fa-bar-chart-o"></i><span
                            i18nid="MyClaims">My Claims</span></a></li>
                    <li><a href="/customer/profile"><i class="fa fa-tv"></i><span>My Profile</span></a></li>

                </ul>
            </div><!-- sidebar-menu  -->
        </div><!-- sidebar-content  -->


    </nav><!-- sidebar-wrapper  -->


    <main class="page-content">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container1">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed"
                            data-target="#navbar"
                            data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index"><img id="logo" src="../css/logo.jpeg"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav mr-auto">
                        <li><a href="/index" i18nid="Home">Home</a></li>
                        <li><a href="../about.html" i18nid="AboutUs">About us</a></li>
                        <li><a href="../shop.html" i18nid="ShopProducts">Shop products</a></li>
                        <li class="active"><a href="/claim/write" i18nid="ClaimSettlements">Claim settlements</a></li>
                        <li><a href="../contact.html" i18nid="ContactUs">Contact us</a></li>
                            
                        <li><a href="news.html" i18nid="News">News</a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <!--<li class="dropdown">-->
                        <!--<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"-->
                        <!--href="#"-->
                        <!--i18nid="Me" role="button">Me-->
                        <!--<span class="caret"></span>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="/claim/claims" i18nid="MyClaims">My Claims</a></li>-->
                        <!--<li><a href="/claim/policy" i18nid="MyPurchase">My purchase</a></li>-->
                        <!--<li class="divider" role="separator"></li>-->
                        <!--<li><a href="/customer/profile" i18nid="MyProfile">My profile</a></li>-->
                        <!--</ul>-->
                        <!--</li>-->
                    </ul>
                    <ul class="nav navbar-nav" style="float:right;">
                        <li><a i18nid="ChangeLang" onclick="switchLang()">Change Language</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->

        <div class="container-fluid">

            <div class="col-sm-9 col-sm-offset-3 col-md-12 col-md-offset-0 main ">


                <p class="pull-right visible-xs">
                    <button class="btn btn-primary btn-xs" data-toggle="offcanvas" type="button">Toggle nav</button>
                </p>
                <div class="jumbotron" id="edit">
                    <h1 class="head1" i18nid="UpdateInfo">Update my profile</h1>
                    <!--<p class="head2" i18nid="RequireInfo">Please write down information required below.</p>-->
                </div>
                <div class="rows">
                    <hr>
                    <h2 class="sub-header" i18nid="MyProfile">My Profile</h2>
                    <hr>
                    <form action="/customer/update" class="detail-form" th:object="${customer}" method="post">

                        <div class="form-group row2">
                            <label class="col-sm-2 col-form-label" for="firstName" i18nid="FirstName">First
                                Name:</label>
                            <div class="col-sm-10">
                                <i class="icon-search2"></i>
                                <input class="form-control" id="firstName" name="firstName" th:value="*{firstName}"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group row2">
                            <label class="col-sm-2 col-form-label" for="lastName" i18nid="LastName">Last Name:</label>
                            <div class="col-sm-10">
                                <i class="icon-search2"></i>
                                <input class="form-control" id="lastName" name="lastName" th:value="*{lastName}"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group row2">
                            <label class="col-sm-2 col-form-label" for="PhoneNo" i18nid="PhoneNo">Phone Number:</label>
                            <div class="col-sm-10">
                                <i class="icon-search2"></i>
                                <input class="form-control" id="PhoneNo" name="phoneNumber" th:value="*{phoneNumber}"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group row2">
                            <label class="col-sm-2 col-form-label" for="emailAddress" i18nid="EmailAddress">Email
                                Address:</label>
                            <div class="col-sm-10">
                                <i class="icon-search2"></i>
                                <input class="form-control" id="emailAddress" name="emailAddress"
                                       th:value="*{emailAddress}"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group row2">
                            <label class="col-sm-2 col-form-label" for="nickName" i18nid="Nickname">Nick
                                Name:</label>
                            <div class="col-sm-10">
                                <i class="icon-search2"></i>
                                <input class="form-control" id="nickName" name="nickname" th:value="*{nickname}"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group row2">
                            <label class="col-sm-2 col-form-label" for="passportNo" i18nid="PassportNo">Passport
                                Number:</label>
                            <div class="col-sm-10">
                                <i class="icon-search2"></i>
                                <input class="form-control" id="passportNo" name="passport" th:value="*{passport}"
                                       type="text">
                            </div>
                        </div>
                        <br>
                        <hr class="divider">

                        <button class="btn btn-primary btn-save" id="buttonsubmit" i18nid="Submit" type="submit">save
                        </button>

                    </form>


                </div>
                <p></p>
            </div><!--/row-->


            <hr>

        </div>

    </main>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<js/jquery.min.js"><\/script>')</script>
<script src="../js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../js/ie10-viewport-bug-workaround.js"></script>
<script src="../js/offcanvas.js"></script>


<script>

    $(document).ready(function () {


        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
        $("input").each(function () {
            $(this).blur(function (e) {
                var onlyalphbet = "";
                var language = getLanguageCode();
                if (language == 'en') {
                    onlyalphbet = /^[a-zA-Z]+$/;
                }
                if (language == 'zh') {
                    onlyalphbet = /^[\u4e00-\u9fa5]+$/;
                }
                var phone_pattern = /^[0-9()]{2,6}-[0-9-]{6,12}$/;
                var email_pattern = /^([A-Za-z0-9_\-\.\u4e00-\u9fa5])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,8})$/;
                if ($(this).attr('id') == 'firstName') {
                    if (onlyalphbet.test($(this).val())) {
                        $(this).parent().find('i').css("background-image", "url('../css/right.png')");
                        $(this).parent().find('i').css("display", "inline-block");
                        $(this).css("borderColor", '#ccc');

                    } else {
                        $(this).parent().find('i').css("background-image", "url('../css/wrong.png')");
                        $(this).parent().find('i').css("display", "inline-block");
                        $(this).css("borderColor", '#db2029');
                    }
                } else if ($(this).attr('id') == 'lastName') {
                    if (onlyalphbet.test($(this).val())) {
                        $(this).parent().find('i').css("background-image", "url('../css/right.png')");
                        $(this).parent().find('i').css("display", "inline-block");
                        $(this).css("borderColor", '#ccc');

                    } else {
                        $(this).parent().find('i').css("background-image", "url('../css/wrong.png')");
                        $(this).parent().find('i').css("display", "inline-block");
                        $(this).css("borderColor", '#db2029');
                    }
                } else if ($(this).attr('id') == 'PhoneNo') {
                    if (phone_pattern.test($(this).val())) {
                        $(this).parent().find('i').css("background-image", "url('../css/right.png')");
                        $(this).parent().find('i').css("display", "inline-block");
                        $(this).css("borderColor", '#ccc');

                    } else {
                        $(this).parent().find('i').css("background-image", "url('../css/wrong.png')");
                        $(this).parent().find('i').css("display", "inline-block");
                        $(this).css("borderColor", '#db2029');
                    }
                } else if ($(this).attr('id') == 'emailAddress') {
                    if (email_pattern.test($(this).val())) {
                        $(this).parent().find('i').css("background-image", "url('../css/right.png')");
                        $(this).parent().find('i').css("display", "inline-block");
                        $(this).css("borderColor", '#ccc');

                    } else {
                        $(this).parent().find('i').css("background-image", "url('../css/wrong.png')");
                        $(this).parent().find('i').css("display", "inline-block");
                        $(this).css("borderColor", '#db2029');
                    }
                } else if ($(this).attr('id') == 'passportNo' || $(this).attr('id') == 'nickName') {
                    if ($(this).val() != "" || $.trim($(this).val()).length != 0) {
                        $(this).parent().find('i').css("background-image", "url('../css/right.png')");
                        $(this).parent().find('i').css("display", "inline-block");
                        $(this).css("borderColor", '#ccc');

                    } else {
                        $(this).parent().find('i').css("background-image", "url('../css/wrong.png')");
                        $(this).parent().find('i').css("display", "inline-block");
                        $(this).css("borderColor", '#db2029');
                    }
                }
            });
        });

        $("#buttonsubmit").click(function (e) {
            e.preventDefault();
            $("input").css("borderColor", '#ccc')
            var phone_pattern = /^[0-9()]{2,6}-[0-9-]{6,12}$/;
            var email_pattern = /^([A-Za-z0-9_\-\.\u4e00-\u9fa5])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,8})$/;
            var cansubmit;
            cansubmit = true;
            $("input[type='text'],input[type='text']").each(function () {
                if ($(this).val() == "" || $.trim($(this).val()).length == 0) {
                    $(this).css("borderColor", '#db2029');
                    cansubmit = false;
                }
            });
            if (!phone_pattern.test($("#PhoneNo").val())) {
                myFocus($("#PhoneNo"));
                cansubmit = false;
            }
            if (!email_pattern.test($("#emailAddress").val())) {
                myFocus($("#emailAddress"));
                cansubmit = false;
            }
            if (cansubmit) {
                $('#form1').submit();
                alert("you have saved successfully")
                return true;
            } else {
                return false;
            }

        });
    });

    function myFocus(ele) {
        ele.css("borderColor", '#db2029');
    }
</script>
<script src="../js/jquery.i18n.properties.js" type="text/javascript"></script>
<script src="../js/jquery.cookie.js" type="text/javascript"></script>
<script src="../js/loadi18n.js" type="text/javascript"></script>
</body>
</html>
